<html>
    <head>
        <title>{{ drama['name'] }} 第{{ ep['episode'] }}集</title>
    </head>
    <body>
        <video src="{{ ep['hd_url'] }}" style="width: 100%;"></video>
        <ul>
            {% for e in eps %}
                <li class="ep"><a href="/drama/episode/{{ drama['hash_code'] }}">第{{ e['episode'] }}集</a></li>
            {% end %}
        </ul>
        <style>
            * { margin: 0 0; padding: 0 0;}
            a{text-decoration : none}
            a:hover{text-decoration:underline}
            .ep { width: 90%; height: 80px; padding-left:10px; line-height: 80px; vertical-align: middle;
                text-align: center; border-bottom: 1px solid gray; text-decoration:none; list-style:none;
                font-size: 1.4em; font-weight: bold; margin: 0 auto;}
        </style>
    </body>
</html>
