{% extends "hanliu.html" %}

{% block title %}今日韩流{% end %}
{% block js %}
<script src="/static/js/jquery-1.11.2.min.js"></script>
<script src="/static/js/swfobject.js"></script>
{% end %}
{% block css %}
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
{% end %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="input-group url">
            <input type="text" id="rurl" placeholder="输入要转换的优酷视频地址" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-default" id="go" type="button">Go!</button>
              </span>
        </div><!-- /input-group -->
        {% if hls_url %}
        <div style="margin: 0 auto; width: 800px; height: 480px;">
            <div id="player" style="display: none"></div>
        </div>
        <div id="sf_player" style="display: none;">
            <video controls autoplay >
                <source src="{{ hls_url }}" />
            </video>
        </div>
        {% end %}
    </div>
</div>
<style>
    body {background: #000000}
    .navbar {background: #000000;}
    .tv{margin: 0 auto; width: 900px;}
    .url{width:750px; margin-left: auto; margin-right: auto; margin-top: 5px; margin-bottom: 20px;}
</style>

<script type="text/javascript">

$("#go").click(function() {
    var source = $("#rurl").val().trim();
    if (source.length == 0) {
        return;
    }
    var result = source.match(/http:\/\/v.youku.com\/.*?id_(\S+)\.html/);
    console.log(result)
    var vid = result[1];
    window.location.href = "/youku?channel=youku&vid=" + vid;
})

function getBrowserInfo(){
    var Sys = {};
    var ua = navigator.userAgent.toLowerCase();
    var re =/(msie|firefox|chrome|opera|version).*?([\d.]+)/;
    var m = ua.match(re);
    Sys.browser = m[1].replace(/version/, "'safari");
    Sys.ver = m[2];
    return Sys;
}

{% if hls_url %}
    var sys = getBrowserInfo();
    if (sys.browser == "safari") {
        $("#sf_player").show();
    } else {
        $("#player").show();
        var flashvars = {
            src: escape("{{ hls_url }}"),
            plugin_m3u8: "/static/flash/HLSProviderOSMF.swf",
        };
        var params = {
            allowFullScreen: true,
            allowScriptAccess: "always",
            bgcolor: "#000000"
        };
        var attrs = {
            name: "player"
        };

        swfobject.embedSWF(
            // url to SMP player
            "/static/flash/StrobeMediaPlayback.swf",
            // div id where player will be place
            "player",
            // width, height
            "100%", "100%",
            // minimum flash player version required
            "10.2",
            // other parameters
            null, flashvars, params, attrs
        );
    }
{% end %}
</script>

{% end %}
