{
    "db": {
        "uri": "mysql+oursql://root@localhost/video"
    },
    "wechat": {
        "appId": "wx64578439cae5cec6",
        "appSecret" : "64401c5d53e7d06de23a6ed9e0b91a11",
        "token": "woshifyz"
    },
    "server": {
        "host": "http://107.182.181.78"
    },
    "http": {
        "port": 5000
    },
    "storeUrlContent": false
}
